* {
  box-sizing: border-box;
}

:root {
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fffdfd;
  color: rgb(0, 0, 0);
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-left,
.header-right {
  margin: 0;
  display: flex;
  align-items: center;
}

.header-left a,
.header-right a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 10px;
}

.header-left a:hover,
.header-right a:hover {
  text-decoration: underline;
}

.header-left img:first-child {
  height: 80px;
}

.header-left img:last-child {
  height: 28px;
}

.content {
  padding: 10px 10px;
}

.header-section {
  display: flex; 
  align-items: center; 
  gap: 10px
}

.footer {
  background-color: #D9D9D9;
  bottom: 0;
  margin-top: 40px;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

p {
  font-size: 2vw;
}

.header a {
  font-size: 2vw;
}
button:hover {
    cursor: pointer;
}
.rounded-button {
  border-radius: 25px;
  padding: 10px 30px;
  background-color: #eeeeee;
  border: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-family: Lato, sans-serif;
  font-weight: 600;
  align-items: center;
  gap: 5px;
  font-size: 1vw;
}

.skill-list-container {
  display: flex;
  align-items: center;
  gap: 10px;
  row-gap: 10px;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 10px;
}

.custom-separator {
  border: 0.5px solid #d9d9d9;
  width: 100%;
  margin: 20px 0 0 0;
}

.profile-picture {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  align-items: center;
}
    
.profile-picture-container {
  flex: 1; 
  text-align: right; 
  padding-right: 30px
}

.pagination-button {
  background: none; 
  border: none; 
  cursor: pointer;
}

.pagination-container {
  display: flex;
  align-items: center; 
  gap: 5px; 
  margin-top: 20px;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.header.dark-mode {
  background-color: #121212;
}

.header-left a.dark-mode,
.header-right a.dark-mode {
  color: #ffffff;
}

.header-left a.dark-mode:hover,
.header-right a.dark-mode:hover {
  text-decoration: underline;
}

.social-media-icon {
  max-width: 35px;
  height: auto;
}

.project-list-container {
  margin-top: 20px;
}

.project-item {
  flex: 1; 
  border-radius: 20px;
  border: 1px solid #D9D9D9;
  max-width: 100%;
}

.project-row {
  display: flex; 
  justify-content: space-between;
  gap: 20px;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.project-info {
  padding: 10px;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  min-width: 260px;
  position: relative;
}

.animated-item {
  color: #ff6500;
}

.animated-item {
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 12s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 4s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 8s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 600px) {
  .header {
    padding: 20px 170px;
  }

  .header-left a:first-child {
    height: 100px;
  }

  .header-left a:last-child {
    height: 34px;
  }

  .content {
    padding: 20px 170px;
  }

  h1 {
    font-size: 2vw;
  }

  h2 {
    font-size: 1.5vw;
  }

  p {
    font-size: 1vw;
  }

  .header a {
    font-size: 1vw;
  }

  .rounded-button {
    border-radius: 25px;
    padding: 15px 50px;
    font-size: 12px;
  }

  .profile-picture {
    width: 50%;
  }

  .skill-list-container {
    gap: 20px;
    margin-top: 30px;
  }

  .custom-separator {
    margin: 40px 0 0 0;
  }

  .profile-picture {
    max-width: 100%;
    height: auto;
  }

  .social-media-icon {
    max-width: 40px;
    height: auto;
  }
}